*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding: 50px;
}

.title{
    padding: 15px;
    position: absolute;
    left: 40%;
    top: 25px;
    text-align: center;
    width: 20%;
    height: 50px;
    background-color: blue;
    border-radius: 50px;
}

.texto{
    
    padding: 50px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50vw;
    height: 100%;
    border-radius: 50px;
}
